@import "tailwindcss";
@import "tailwindcss";

.custom-background {
  background: black;
  background-size: cover;
  background-position: center;
}

.flex-nowrap {
  white-space: nowrap;
}

@keyframes bounceanimation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
  
}

.mixing {
  animation: bounceanimation 3.5s ease-in-out infinite;
}