@import "tailwindcss";
@import "tailwindcss";

@keyframes typingBackspace {
  0% {
    width: 0;
  } /* Start with no text */
  50% {
    width: var(--typing-width);
  } /* Type the full text */
  100% {
    width: 0;
  } /* Backspace to no text */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

